
header {
    background: linear-gradient(black, rgb(64, 64, 241));
    position: fixed;
    color: #ffff;
    justify-content: center;
    width:100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}


.navbar a {
    text-decoration: none;
    position: relative;
    color: #ffff;
    
}

.navbar h1 {
    font-size: 40px;
    margin-right: 10px;

}

.navbar nav{
    margin-top: 20px;
}

.navbar ul li {
    display:inline;
    position: relative;

    

}

body {
    background-repeat: no-repeat;
    background-image: url("../assets/Images/kino.jpg");
    position:static;
    
}

main {
    padding: 120px 360px 0px;
    color: #ffff;
    position: absolute;

}

.first-card {
    padding: 20px;
    background-color: grey;
    border-radius: 10px;
}
